/* ==========================================================================
   Top visual section
   ========================================================================== */

.header-visual {
    background:url(gfx/35mm/nyc-ct.jpg);
    background-size: cover;
    background-position: center 70%;
    height: 30vh;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */

.fb-hero {
    text-align: center;
}

.fb-hero h1 {
    font-size: 4rem;
}

.fb-hero .quote {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    font-size: 2.3rem;
    margin: 3rem 0;
}

/* ==========================================================================
   General Content Styles
   ========================================================================== */
.fb-content p {
    margin: 1.2rem 0;
    font-size: 1.2rem;
}

.fb-content img {
    margin: 3rem 0;
}

/* ==========================================================================
   Setting Info
   ========================================================================== */

.fb-shooting-info {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

.fb-shooting-info-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.fb-shooting-info-item img {
    margin: 0;
    height: 18px;
}

.fb-shooting-info-item span {
    font-weight: 600;
}

/* ==========================================================================
   RESPONSIVE DESIGN (Für Mobilgeräte)
   ========================================================================== */

@media (max-width: 768px) {
    .fb-shooting-info {
    display: block;
    }

    .fb-shooting-info-item {
        margin: .6rem 0;
    }
}