/* ==========================================================================
   Top visual section
   ========================================================================== */

.header-visual {
    background-size: cover;
    height: 30vh;
}

.header-visual.overview {
    background-image:url(35mm/img/cover.jpg);
    background-position: center;
}

.header-visual.nyc {
    background-image:url(35mm/nyc/img/cover.jpg);
    background-position: center;
}

.header-visual.syd {
    background-image:url(35mm/sydney/img/cover.jpg);
    background-position: center;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */

.fb-hero {
    text-align: center;
}

.fb-hero h1 {
    font-size: 5rem;
    font-weight: 100;
    margin: 0 0 3rem 0;
}

.fb-hero .quote {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    font-size: 2.3rem;
    margin: 3rem 0;
}

/* ==========================================================================
   General Content Styles
   ========================================================================== */
.fb-content p {
    margin: 1.2rem 0;
    font-size: 1.2rem;
}

.fb-content .picture {
    margin: 3rem 0;
    width: 100%;
}


/* ==========================================================================
   Setting Info
   ========================================================================== */

.fb-shooting-info {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

.fb-shooting-info-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.fb-shooting-info-item img {
    margin: 0;
    height: 18px;
}

.fb-shooting-info-item span {
    font-weight: 600;
}

/* ==========================================================================
   Preview item
   ========================================================================== */

.fb-preview {
    font-family: "Playfair", serif;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    display: block;
    
    background-size: cover;
    padding: 3rem 0;
    text-align: center;

    border-radius: .2rem;
    transition: background 0.3s ease;
}



.fb-preview.nyc {
    background-image: url(35mm/nyc/img/cover.jpg);
}
.fb-preview.nyc:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(35mm/nyc/img/cover.jpg);
}

.fb-preview.syd {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(35mm/sydney/img/cover.jpg);
    background-position: center 50%;
    
}
.fb-preview.syd:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(35mm/sydney/img/cover.jpg);
}

/* ==========================================================================
   RESPONSIVE DESIGN (Für Mobilgeräte)
   ========================================================================== */

@media (max-width: 768px) {
    .fb-shooting-info {
    display: block;
    }

    .fb-shooting-info-item {
        margin: .6rem 0;
    }

    .fb-preview {
        font-size: 1.4rem;
    }

    .fb-hero h1 {
        font-size: 3rem;
        margin: 0 0 2rem 0;
    }
}


